In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("catnat_dirty.csv")

In [2]:
#Exercice 1

#1
print("Dimensions :", df.shape)

Dimensions : (17510, 18)

In [3]:
#2
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17510 entries, 0 to 17509
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DisNo.                   17510 non-null  object
 1   Country                  17510 non-null  object
 2   Region                   17161 non-null  object
 3   Subregion                17510 non-null  object
 4   Disaster Type            17510 non-null  object
 5   Disaster Subtype         17510 non-null  object
 6   Disaster Subgroup        17510 non-null  object
 7   Event Name               3975 non-null   object
 8   Start Year               17510 non-null  object
 9   Start Month              16599 non-null  float64
 10  Total Deaths             12593 non-null  float64
 11  No. Injured              4507 non-null   float64
 12  Total Affected           12951 non-null  float64
 13  No. Homeless             2521 non-null   float64
 14  Total Damage ('000 US$)  5630 non-null   float64
 15  Magnitude                5249 non-null   float64
 16  Latitude                 2821 non-null   float64
 17  Longitude                2821 non-null   float64
dtypes: float64(9), object(9)
memory usage: 2.4+ MB
None

In [4]:
#3
missing_count = df.isnull().sum()
missing_percent = (df.isnull().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    "Nb manquants": missing_count,
    "% manquants": missing_percent
})

print(missing_df)

                         Nb manquants  % manquants
DisNo.                              0     0.000000
Country                             0     0.000000
Region                            349     1.993147
Subregion                           0     0.000000
Disaster Type                       0     0.000000
Disaster Subtype                    0     0.000000
Disaster Subgroup                   0     0.000000
Event Name                      13535    77.298686
Start Year                          0     0.000000
Start Month                       911     5.202741
Total Deaths                     4917    28.081097
No. Injured                     13003    74.260423
Total Affected                   4559    26.036551
No. Homeless                    14989    85.602513
Total Damage ('000 US$)         11880    67.846945
Magnitude                       12261    70.022844
Latitude                        14689    83.889206
Longitude                       14689    83.889206

In [5]:
#4
print("Nombre de doublons :", df.duplicated().sum())

Nombre de doublons : 150

In [6]:
#5
print(df["Region"].unique())

['Asia ' 'Americas' 'Oceania' 'Asia' 'ASIA' ' Americas ' 'Africa'
 'Europe ' 'Europe' ' Americas' 'EUROPE' 'AMERICAS ' 'americas' 'AMERICAS'
 nan ' Asia ' ' Africa' 'Americas ' 'asia' ' Oceania' 'ASIA ' 'oceania'
 ' americas ' ' Asia' 'asia ' 'OCEANIA' 'africa' 'AFRICA' 'europe'
 'europe ' ' AMERICAS ' 'americas ' ' AMERICAS' ' Europe ' ' EUROPE'
 ' ASIA' ' Africa ' ' americas' 'africa ' ' asia' ' africa' ' AFRICA '
 'Africa ' ' AFRICA' 'Oceania ' ' asia ' 'AFRICA ' ' europe ' 'EUROPE '
 ' Europe' ' africa ' ' ASIA ' ' europe' ' Oceania ' 'OCEANIA '
 ' OCEANIA ' ' EUROPE ' 'oceania ' ' OCEANIA' ' oceania ' ' oceania']

In [7]:
#6
print(df["Total Deaths"].describe())

count    1.259300e+04
mean     2.751663e+03
std      6.577989e+04
min     -3.600000e+04
25%      5.000000e+00
50%      1.800000e+01
75%      6.100000e+01
max      3.700000e+06
Name: Total Deaths, dtype: float64

In [8]:
print(df[df["Total Deaths"] < 0])

              DisNo.      Country    Region                        Subregion  \
33     2002-0849-GTM    Guatemala  Americas  Latin America and the Caribbean
136    1961-0016-ETH     ethiopia    Africa               Sub-Saharan Africa
293    1983-0437-JPN        Japan      Asia                     Eastern Asia
607    1985-0009-IDN    Indonesia     Asia                South-eastern Asia
754    1987-0330-USA   Etats-Unis  Americas                 Northern America
...              ...          ...       ...                              ...
16609  2023-0095-MDG   Madagascar    AFRICA               Sub-Saharan Africa
16653  1999-0354-MMR      Myanmar      Asia               South-eastern Asia
16790  1999-0728-PHL  Philippines      Asia               South-eastern Asia
16851  1987-0344-CHN        China      Asia                     Eastern Asia
16922  2018-0056-IDN    INDONESIA      Asia               South-eastern Asia

             Disaster Type       Disaster Subtype Disaster Subgroup  \
33                   storm       Tropical cyclone    Meteorological
136             EARTHQUAKE        Ground movement       Geophysical
293             Earthquake        Ground movement       Geophysical
607                  Flood            Flash flood      Hydrological
754                  Storm  Blizzard/Winter storm    Meteorological
...                    ...                    ...               ...
16609                Storm       Tropical cyclone    Meteorological
16653                Flood            Flash flood      Hydrological
16790                STORM        Storm (General)    Meteorological
16851                Storm       Tropical cyclone    Meteorological
16922  Mass Movement (Wet)        Landslide (wet)      Hydrological

                      Event Name Start Year  Start Month  Total Deaths  \
33                       Isidore       2002          9.0          -2.0
136                          NaN       1961          6.0         -30.0
293                          NaN       1983          8.0          -1.0
607                          NaN       1985          2.0         -21.0
754                          NaN       1987         12.0         -61.0
...                          ...        ...          ...           ...
16609  Tropical cyclone 'Freddy'       2023          2.0         -17.0
16653                        NaN       1999          8.0         -22.0
16790                     Reming       1999         10.0          -1.0
16851                       Ruth       1987          6.0         -40.0
16922                        NaN       2018          2.0         -15.0

       No. Injured  Total Affected  No. Homeless  Total Damage ('000 US$)  \
33             NaN          1500.0           NaN                    100.0
136            NaN             NaN           NaN                      NaN
293           28.0            28.0           NaN                      NaN
607            NaN           300.0           NaN                      NaN
754            NaN             NaN           NaN                 115000.0
...            ...             ...           ...                      ...
16609          NaN        299000.0           NaN                      NaN
16653          NaN         50000.0       50000.0                      NaN
16790          NaN          5791.0           NaN                      NaN
16851          NaN             NaN           NaN                      NaN
16922         14.0         50014.0           NaN                      NaN

       Magnitude  Latitude  Longitude
33           NaN       NaN        NaN
136          6.5      10.4      39.90
293          5.3      35.5     139.07
607      16540.0       NaN        NaN
754          NaN       NaN        NaN
...          ...       ...        ...
16609      165.0       NaN        NaN
16653        NaN       NaN        NaN
16790        NaN       NaN        NaN
16851        NaN       NaN        NaN
16922        NaN       NaN        NaN

[67 rows x 18 columns]

In [9]:
print(df[df["Total Deaths"] > 1000000])

              DisNo.        Country   Region       Subregion Disaster Type  \
1030   1965-9073-IND           Inde     Asia   Southern Asia       Drought
1245   1907-0001-IND          India     Asia   Southern Asia      epidemic
2800   1921-9001-SUN   Soviet Union  europe   Eastern Europe       Drought
2829   1900-9001-IND          India     Asia   Southern Asia       Drought
4052   1943-9002-BGD    Bangladesch     Asia   Southern Asia       drought
6252   1917-0002-SUN  Soviet Union    Europe  Eastern Europe      Epidemic
7630   1928-9002-CHN          China     Asia    Eastern Asia       drought
7633   1931-0007-CHN          China     Asia    Eastern Asia         Flood
9400   1959-0006-CHN         China      Asia    Eastern Asia         Flood
14383  1942-9003-IND          India     asia   Southern Asia       Drought
14398  1920-0001-IND          India     Asia   Southern Asia      Epidemic
16505  1909-0001-CHN          China     Asia    Eastern Asia      Epidemic

                   Disaster Subtype Disaster Subgroup Event Name Start Year  \
1030                        Drought    Climatological        NaN       1965
1245              Bacterial disease        Biological    Bubonic       1907
2800                        Drought    Climatological        NaN       1921
2829                        Drought    Climatological        NaN       1900
4052                        Drought    Climatological        NaN       1943
6252   Infectious disease (General)        Biological        NaN       1917
7630                        Drought    Climatological        NaN       1928
7633                 Riverine flood      Hydrological        NaN       1931
9400                Flood (General)      Hydrological        NaN       1959
14383                       Drought    Climatological        NaN       1942
14398             Bacterial disease        Biological    Bubonic       1920
16505             Bacterial disease        Biological    Bubonic       1909

       Start Month  Total Deaths  No. Injured  Total Affected  No. Homeless  \
1030           NaN     1500000.0          NaN     100000000.0           NaN
1245           NaN     1300000.0          NaN             NaN           NaN
2800           NaN     1200000.0          NaN       5000000.0           NaN
2829           NaN     1250000.0          NaN             NaN           NaN
4052           NaN     1900000.0          NaN             NaN           NaN
6252           NaN     2500000.0          NaN             NaN           NaN
7630           NaN     3000000.0          NaN             NaN           NaN
7633           7.0     3700000.0          NaN             NaN           NaN
9400           7.0     2000000.0          NaN             NaN           NaN
14383          NaN     1500000.0          NaN             NaN           NaN
14398          NaN     2000000.0          NaN             NaN           NaN
16505          NaN     1500000.0          NaN             NaN           NaN

       Total Damage ('000 US$)  Magnitude  Latitude  Longitude
1030                  100000.0        NaN       NaN        NaN
1245                       NaN        NaN       NaN        NaN
2800                       NaN        NaN       NaN        NaN
2829                       NaN        NaN       NaN        NaN
4052                       NaN        NaN       NaN        NaN
6252                       NaN        NaN       NaN        NaN
7630                       NaN        NaN       NaN        NaN
7633                 1400000.0        NaN       NaN        NaN
9400                       NaN        NaN       NaN        NaN
14383                      NaN        NaN       NaN        NaN
14398                      NaN        NaN       NaN        NaN
16505                      NaN        NaN       NaN        NaN

In [10]:
#1 Nombre de doublons : 150

#2 Colonnes avec le plus de valeurs manquantes :
# No. Homeless (85.60%), Latitude (83.88%), Longitude (83.88%), suivies de Event Name, No. Injured, Magnitude, Total Damage.

#3 Nombre de variantes différentes pour "Asia" : 12 variantes

#4 Valeurs négatives dans Total Deaths : Oui il existe 67 lignes avec des valeurs négatives (minimum = -36000), ce qui indique des anomalies dans les données.

In [11]:
#Exercice 2
# Affiche quelques doublons pour vérification
print(df[df.duplicated()])

              DisNo.                    Country    Region  \
1210   2021-0596-PAK                   Pakistan      Asia
1959   2019-0655-BGD                 Bangladesh     Asia
2157   2011-9629-LSO                   Lesotho     africa
3420   2004-0668-GAB                      Gabon    Africa
3494   2002-0406-JPN                      JAPAN      Asia
...              ...                        ...       ...
17194  2023-0290-SLE               Sierra Leone    Africa
17228  1997-0126-SLV                El Salvador  Americas
17339  2010-0053-PAK                   Pakistan      ASIA
17410  2013-0286-USA   United States of America  Americas
17413  2015-0226-IND                      India     asia

                             Subregion        Disaster Type  Disaster Subtype  \
1210                     Southern Asia                Flood   Flood (General)
1959                     Southern Asia  Extreme temperature         Cold wave
2157                Sub-Saharan Africa              DROUGHT           Drought
3420                Sub-Saharan Africa             Epidemic     Viral disease
3494                      Eastern Asia                Storm   Storm (General)
...                                ...                  ...               ...
17194               Sub-Saharan Africa                STORM   Storm (General)
17228  Latin America and the Caribbean                STORM  Tropical cyclone
17339                    Southern Asia                Flood    Riverine flood
17410                 Northern America                Flood    Riverine flood
17413                    Southern Asia  Mass movement (wet)   Landslide (wet)

      Disaster Subgroup     Event Name Start Year  Start Month  Total Deaths  \
1210       Hydrological            NaN       2021          9.0       19000.0
1959     Meteorological            NaN       2019         11.0          50.0
2157     Climatological            NaN       2011         12.0           NaN
3420         Biological  Typhoid fever       2004         12.0           1.0
3494     Meteorological            NaN       2002          7.0           1.0
...                 ...            ...        ...          ...           ...
17194    Meteorological            NaN       2023          5.0          15.0
17228    Meteorological         Andres       1997          6.0           4.0
17339      Hydrological            NaN       2010          2.0          22.0
17410      Hydrological            NaN       2013          5.0           3.0
17413      Hydrological            NaN       2015          6.0           3.0

       No. Injured  Total Affected  No. Homeless  Total Damage ('000 US$)  \
1210           4.0             4.0           NaN                      NaN
1959        4500.0          4500.0           NaN                      NaN
2157           NaN        725515.0           NaN                      NaN
3420           NaN           100.0           NaN                      NaN
3494           NaN             NaN           NaN                    500.0
...            ...             ...           ...                      ...
17194         17.0            17.0           NaN                      NaN
17228          NaN          2000.0        2000.0                      NaN
17339          NaN             NaN           NaN                      NaN
17410          NaN           300.0           NaN                   2000.0
17413          NaN          9000.0           NaN                      NaN

       Magnitude  Latitude  Longitude
1210         NaN       NaN        NaN
1959        7.90       NaN        NaN
2157         NaN       NaN        NaN
3420         NaN       NaN        NaN
3494         NaN       NaN        NaN
...          ...       ...        ...
17194        NaN       NaN        NaN
17228        NaN       NaN        NaN
17339        NaN       NaN        NaN
17410   33907.85   28.8990     -98.89
17413        NaN   26.9195      93.87

[150 rows x 18 columns]

In [12]:
# Supprimer les doublons exacts
df = df.drop_duplicates()

In [13]:
# Vérifier qu'ils ont bien disparu
print("Doublons ensuite:", df.duplicated().sum())

Doublons ensuite: 0

In [14]:
#Exercice 4
# 1. Vérifier le type de Start Year
print(df['Start Year'].dtype)

object

In [15]:
# 2. Montrer les valeurs problématiques
print(df[df['Start Year'].str.contains("Year|AD", na=False)]['Start Year'].head())

26       1982 AD
138    Year 2012
480      2021 AD
506    Year 2017
634    Year 2003
Name: Start Year, dtype: object

In [16]:
# 3. Nettoyage : retirer le texte et convertir en numérique
df['Start Year'] = df['Start Year'].str.replace(r"[^\d]", "", regex=True)
df['Start Year'] = pd.to_numeric(df['Start Year'], errors='coerce').astype('Int64')

print(df['Start Year'].head())

0    2020
1    2008
2    2015
3    2007
4    2008
Name: Start Year, dtype: Int64

In [17]:
#Exercice 4

# 1 Region : supprimer les lignes nulles
df = df.dropna(subset=['Region'])

In [18]:
# 2 Event Name : remplacer nulls par « Non nommé »
df['Event Name'] = df['Event Name'].fillna("Non nommé")

In [19]:
# 3 Total Deaths : imputer par 0 (ou autre logique)
df['Total Deaths'] = df['Total Deaths'].fillna(0)

In [20]:
# 5 Vérifier le résultat
print(df.isnull().sum())

DisNo.                         0
Country                        0
Region                         0
Subregion                      0
Disaster Type                  0
Disaster Subtype               0
Disaster Subgroup              0
Event Name                     0
Start Year                     0
Start Month                  890
Total Deaths                   0
No. Injured                12643
Total Affected              4441
No. Homeless               14570
Total Damage ('000 US$)    11540
Magnitude                  11929
Latitude                   14289
Longitude                  14289
dtype: int64

In [21]:
#Exercice 5

# 1. Identifier les valeurs négatives dans Total Deaths
neg_deaths = df[df["Total Deaths"] < 0]
print("Valeurs négatives Total Deaths :")
print(neg_deaths)

Valeurs négatives Total Deaths :
              DisNo.      Country    Region                        Subregion  \
33     2002-0849-GTM    Guatemala  Americas  Latin America and the Caribbean
136    1961-0016-ETH     ethiopia    Africa               Sub-Saharan Africa
293    1983-0437-JPN        Japan      Asia                     Eastern Asia
607    1985-0009-IDN    Indonesia     Asia                South-eastern Asia
754    1987-0330-USA   Etats-Unis  Americas                 Northern America
...              ...          ...       ...                              ...
16609  2023-0095-MDG   Madagascar    AFRICA               Sub-Saharan Africa
16653  1999-0354-MMR      Myanmar      Asia               South-eastern Asia
16790  1999-0728-PHL  Philippines      Asia               South-eastern Asia
16851  1987-0344-CHN        China      Asia                     Eastern Asia
16922  2018-0056-IDN    INDONESIA      Asia               South-eastern Asia

             Disaster Type       Disaster Subtype Disaster Subgroup  \
33                   storm       Tropical cyclone    Meteorological
136             EARTHQUAKE        Ground movement       Geophysical
293             Earthquake        Ground movement       Geophysical
607                  Flood            Flash flood      Hydrological
754                  Storm  Blizzard/Winter storm    Meteorological
...                    ...                    ...               ...
16609                Storm       Tropical cyclone    Meteorological
16653                Flood            Flash flood      Hydrological
16790                STORM        Storm (General)    Meteorological
16851                Storm       Tropical cyclone    Meteorological
16922  Mass Movement (Wet)        Landslide (wet)      Hydrological

                      Event Name  Start Year  Start Month  Total Deaths  \
33                       Isidore        2002          9.0          -2.0
136                    Non nommé        1961          6.0         -30.0
293                    Non nommé        1983          8.0          -1.0
607                    Non nommé        1985          2.0         -21.0
754                    Non nommé        1987         12.0         -61.0
...                          ...         ...          ...           ...
16609  Tropical cyclone 'Freddy'        2023          2.0         -17.0
16653                  Non nommé        1999          8.0         -22.0
16790                     Reming        1999         10.0          -1.0
16851                       Ruth        1987          6.0         -40.0
16922                  Non nommé        2018          2.0         -15.0

       No. Injured  Total Affected  No. Homeless  Total Damage ('000 US$)  \
33             NaN          1500.0           NaN                    100.0
136            NaN             NaN           NaN                      NaN
293           28.0            28.0           NaN                      NaN
607            NaN           300.0           NaN                      NaN
754            NaN             NaN           NaN                 115000.0
...            ...             ...           ...                      ...
16609          NaN        299000.0           NaN                      NaN
16653          NaN         50000.0       50000.0                      NaN
16790          NaN          5791.0           NaN                      NaN
16851          NaN             NaN           NaN                      NaN
16922         14.0         50014.0           NaN                      NaN

       Magnitude  Latitude  Longitude
33           NaN       NaN        NaN
136          6.5      10.4      39.90
293          5.3      35.5     139.07
607      16540.0       NaN        NaN
754          NaN       NaN        NaN
...          ...       ...        ...
16609      165.0       NaN        NaN
16653        NaN       NaN        NaN
16790        NaN       NaN        NaN
16851        NaN       NaN        NaN
16922        NaN       NaN        NaN

[65 rows x 18 columns]

In [22]:
# 2. Identifier les valeurs aberrantes dans Magnitude (> 10)
outliers_mag = df[df["Magnitude"] > 10]
print("\nValeurs aberrantes Magnitude :")
print(outliers_mag)

Valeurs aberrantes Magnitude :
              DisNo.                           Country    Region  \
5      1997-0566-BOL  Bolivia (Plurinational State of)  Americas
32     1996-0215-LAO  Lao People's Democratic Republic      Asia
34     2002-0379-USA          United States of America  AMERICAS
40     1995-0198-THA                          Thailand     Asia
42     1996-0298-IND                             India      Asia
...              ...                               ...       ...
17479  2008-0043-MDG                        MADAGASCAR    Africa
17490  2003-0447-SOM                           Somalia    Africa
17499  2022-0099-MDG                        Madagascar    Africa
17501  2018-0123-AUS                         Australia   Oceania
17502  1991-0131-MDV                          Maldives      Asia

                             Subregion Disaster Type  Disaster Subtype  \
5      Latin America and the Caribbean         flood    Riverine flood
32                  South-eastern Asia         Flood    Riverine flood
34                    Northern America      Wildfire       Forest fire
40                  South-eastern Asia         Flood    Riverine flood
42                       Southern Asia         STORM  Tropical cyclone
...                                ...           ...               ...
17479               Sub-Saharan Africa         Storm  Tropical cyclone
17490               Sub-Saharan Africa         Flood    Riverine flood
17499               Sub-Saharan Africa         Storm  Tropical cyclone
17501        Australia and New Zealand         Flood   Flood (General)
17502                    Southern Asia         Storm    Severe weather

      Disaster Subgroup               Event Name  Start Year  Start Month  \
5          Hydrological                Non nommé        1997          3.0
32         Hydrological                Non nommé        1996          8.0
34       Climatological                Non nommé        2002          6.0
40         Hydrological                Non nommé        1995          8.0
42       Meteorological                Non nommé        1996         12.0
...                 ...                      ...         ...          ...
17479    Meteorological           Cyclone "Fame"        2008          1.0
17490      Hydrological                Non nommé        2003          8.0
17499    Meteorological  Tropical storm 'Dumako'        2022          2.0
17501      Hydrological                Non nommé        2018          3.0
17502    Meteorological                Non nommé        1991          5.0

       Total Deaths  No. Injured  Total Affected  No. Homeless  \
5              16.0          NaN             NaN           NaN
32             30.0          NaN        420000.0           NaN
34              0.0          NaN          1269.0        1269.0
40            231.0          NaN       4280984.0       56984.0
42              6.0          NaN        335000.0           NaN
...             ...          ...             ...           ...
17479          12.0          NaN          8613.0        3156.0
17490           1.0          NaN           300.0           NaN
17499          14.0          NaN          9900.0           NaN
17501           0.0          NaN           600.0           NaN
17502           0.0          NaN         23849.0       23849.0

       Total Damage ('000 US$)  Magnitude  Latitude  Longitude
5                      35000.0  365800.00       NaN        NaN
32                         NaN     200.00       NaN        NaN
34                    200500.0    1320.00       NaN        NaN
40                    140500.0  444500.00       NaN        NaN
42                         NaN     180.00       NaN        NaN
...                        ...        ...       ...        ...
17479                      NaN     130.00       NaN        NaN
17490                      NaN     550.00       NaN        NaN
17499                      NaN      75.00       NaN        NaN
17501                  11400.0  105583.27   -17.015    145.218
17502                  30000.0     144.00       NaN        NaN

[3364 rows x 18 columns]

In [23]:
# 3. Décision de traitement

#  Les morts négatifs sont impossibles → suppression
#  Magnitude >10 est irréaliste → suppression

In [24]:
# 4. Appliquer le traitement
df = df[df["Total Deaths"] >= 0]
df = df[df["Magnitude"] <= 10]

In [25]:
# 5. Vérification du résultat
print("\nAprès nettoyage :")

print("Valeurs négatives restantes :",
      df[df["Total Deaths"] < 0].shape[0])

print("Magnitudes >10 restantes :",
      df[df["Magnitude"] > 10].shape[0])

Après nettoyage :
Valeurs négatives restantes : 0
Magnitudes >10 restantes : 0

In [26]:
# Exercice 6 

# 1. Nettoyer Region → enlever espaces + format titre
df["Region"] = df["Region"].str.strip().str.title()

In [27]:
#2.Vérifier
print("Catégories Region :")
print(df["Region"].value_counts())

print("Nombre de catégories Region :", df["Region"].nunique())

Catégories Region :
Region
Asia        977
Americas    349
Europe      253
Africa       81
Oceania      54
Name: count, dtype: int64
Nombre de catégories Region : 5

In [28]:
#Il y a maintenant 5 catégories pour la variable Region : Asia, Americas, Europe, Africa et Oceania.

In [29]:
# 3. Nettoyer Disaster Type
df["Disaster Type"] = df["Disaster Type"].str.strip().str.title()

In [30]:
# Vérifier
print("\nCatégories Disaster Type :")
print(df["Disaster Type"].value_counts())

Catégories Disaster Type :
Disaster Type
Earthquake             1486
Extreme Temperature     165
Flood                    35
Storm                    12
Wildfire                 10
Epidemic                  3
Mass Movement (Wet)       2
Drought                   1
Name: count, dtype: int64

In [31]:
# 4. Nettoyer Country
df["Country"] = df["Country"].str.strip().str.title()

In [32]:
# 5 . Corriger variantes de pays
df["Country"] = df["Country"].replace({
    "Usa": "United States",
    "United States Of America": "United States",
    "U.s.a.": "United States",
    "Etats-Unis": "United States",
    "Uk": "United Kingdom",
    "U.k.": "United Kingdom"
})

In [33]:
# Vérification finale
print("\nPays uniques après correction :")
print(df["Country"].value_counts())

Pays uniques après correction :
Country
China                         178
Indonesia                     126
Iran (Islamic Republic Of)    125
Türkiye                        98
Peru                           60
                             ...
Mozambique                      1
Libya                           1
Us                              1
Jamaica                         1
Guadeloupe                      1
Name: count, Length: 154, dtype: int64

In [34]:
# EXERCICE 7 

# 1. Créer colonne Decennie
df["Decennie"] = (df["Start Year"] // 10) * 10

In [35]:
# 2. Créer colonne Has_Deaths
df["Has_Deaths"] = df["Total Deaths"] > 0

In [36]:
# 3.  Vérification
print(df[["Start Year", "Decennie", "Total Deaths", "Has_Deaths"]].head())

    Start Year  Decennie  Total Deaths  Has_Deaths
4         2008      2000           1.0        True
19        1977      1970         589.0        True
22        1922      1920        1000.0        True
26        1982      1980           3.0        True
38        2005      2000           5.0        True

In [38]:
# EXERCICE 8 
# 1. Sélectionner les colonnes utiles pour l'analyse
df_export = df[[
    "Start Year",
    "Decennie",
    "Country",
    "Region",
    "Disaster Type",
    "Total Deaths",
    "Has_Deaths"
]]

In [39]:
# 2. Renommer les colonnes pour qu'elles soient claires et sans espaces
df_export = df_export.rename(columns={
    "Start Year": "Year",
    "Decennie": "Decade",
    "Disaster Type": "Disaster_Type",
    "Total Deaths": "Total_Deaths",
    "Has_Deaths": "Has_Deaths"
})

In [40]:
# 3. Vérification finale
print(df_export.info())
print(df_export.head())

<class 'pandas.core.frame.DataFrame'>
Index: 1714 entries, 4 to 17507
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1714 non-null   Int64
 1   Decade         1714 non-null   Int64
 2   Country        1714 non-null   object
 3   Region         1714 non-null   object
 4   Disaster_Type  1714 non-null   object
 5   Total_Deaths   1714 non-null   float64
 6   Has_Deaths     1714 non-null   bool
dtypes: Int64(2), bool(1), float64(1), object(3)
memory usage: 98.8+ KB
None
    Year  Decade                     Country    Region Disaster_Type  \
4   2008    2000                       Japon      Asia    Earthquake
19  1977    1970  Iran (Islamic Republic Of)      Asia    Earthquake
22  1922    1920                       Chile  Americas    Earthquake
26  1982    1980                        Peru  Americas    Earthquake
38  2005    2000                        Peru  Americas    Earthquake

    Total_Deaths  Has_Deaths
4            1.0        True
19         589.0        True
22        1000.0        True
26           3.0        True
38           5.0        True

In [42]:
# 4. Exporter en CSV
df_export.to_csv("catnat_clean.csv", index=False)